@model Tuple<sde.Models.soFulfillmentItemList>
@{
    ViewBag.Title = "Incomplete SO Fulfillment Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span11">
    <div class="leaderboard" style="padding-left: 10px; padding-right: 10px;">
        <h1>TRADE/EDU/OS Dashboard</h1>
        <div class="content">
            <ul id="tabs1" class="nav nav-tabs" data-tabs="tabs1">
                <li><a href="../DashboardTrade/SOSync1">SO Sync <img src="\Content\images\go.png" alt="" height='14' width='14' /></a> </li>
                @*ANET-26 - Exception Report: Inbound & outbound Reports  *@
                <li ><a href="../DashboardTrade/SONotSync1">SO Not Sync <img src="\Content\images\go.png" alt="" height='14' width='14' /></a> </li>     
                <li><a href="../DashboardTrade/POSync1">PO Sync <img src="\Content\images\go.png" alt="" height='14' width='14' /></a> </li> 
                <li><a href="../DashboardTrade/SORSync1">SOR Sync <img src="\Content\images\go.png" alt="" height='14' width='14' /></a> </li> 
                <li><a href="../DashboardTrade/SOFulfillment1">SO Fulfillment <img src="\Content\images\back.png" alt="" height='14' width='14' /></a> </li>    
                <li class="active"><a href="../DashboardTrade/IncompleteSOFulfillment">Incomplete SO Fulfillment <img src="\Content\images\back.png" alt="" height='14' width='14' /></a> </li>  
                  @*ANET-26 - Exception Report: Inbound & outbound Reports  *@
                <li><a href="../DashboardTrade/SOInvoiceGenerate">SO Invoice Generate <img src="\Content\images\back.png" alt="" height='14' width='14' /></a> </li>   
                <li><a href="../DashboardTrade/SOInvoiceNotGenerate">SO Invoice Not Generate <img src="\Content\images\back.png" alt="" height='14' width='14' /></a> </li>      
                <li><a href="../DashboardTrade/POReceive1">PO Receive <img src="\Content\images\back.png" alt="" height='14' width='14' /></a> </li>       
                <li><a href="../DashboardTrade/SORReceive1">SOR Receive <img src="\Content\images\back.png" alt="" height='14' width='14' /></a>                  
            </ul>
            <div id="my-tab-content1" class="tab-content">
                <div class="tab-pane active table-responsive" id="tabScheduler">
                    <ul id="tabs2" class="nav nav-pills" data-tabs="tabs2">
                        <li class="active"><a>Item View</a></li>
                        <li><a class="bottomNav" onclick="history.go(-1); return false;" href="#">Back</a></li>
                    </ul>
                    <ul>
                    </ul>

                    <table id="myTable" class="table table-bordered table-condensed">
                        <thead>
                            <tr style="background-color: #FF8336;">
                                
                                <th>Last Fulfilled Date</th>
                                <th>SO Number</th>
                                <th>Order Pack</th>
                                <th>Pack Title</th>
                                <th style="text-align:center">Order Quantity</th>
                                <th style="text-align:center">Order Fulfilled</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Item1.soFulfillmentItem.Count(); i++)
                            {
                                <tr style="background-color: #FCDAB6;">
                                    <td>@Model.Item1.soFulfillmentItem[i].lastFulfilledDate</td>
                                    <td>@Model.Item1.soFulfillmentItem[i].moNo</td>
                                    <td>@Model.Item1.soFulfillmentItem[i].ordPack</td>
                                    <td>@Model.Item1.soFulfillmentItem[i].packTitle</td>
                                    <td style="text-align:center">@Model.Item1.soFulfillmentItem[i].ordQty</td>
                                    <td style="text-align:center">@Model.Item1.soFulfillmentItem[i].ordFulfill</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs1').tab();
        $('#tabs2').tab();
    });
</script>
<script type="text/javascript" src="../../Scripts/bootstrap/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        $('#myTable').dataTable();
    });
</script>
<link rel="stylesheet" href="../../Scripts/bootstrap/jquery.dataTables.min.css">
<script type="text/javascript" src="../../Scripts/bootstrap/jquery.dataTables.min.js"></script>