@model Tuple<sde.Models.soSyncList>
@{
    ViewBag.Title = "SO Invoice Generate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span11">
    <div class="leaderboard" style="padding-left: 10px; padding-right: 10px;">
        <h1>TRADE/EDU/OS Dashboard</h1>
        <div class="content">
            <ul id="tabs1" class="nav nav-tabs" data-tabs="tabs1">
                <li ><a href="../DashboardTrade/SOSync1">SO Sync <img src="\Content\images\go.png" alt="" height='14' width='14' /></a> </li>   
                @*ANET-26 - Exception Report: Inbound & outbound Reports  *@
                <li ><a href="../DashboardTrade/SONotSync1">SO Not Sync <img src="\Content\images\go.png" alt="" height='14' width='14' /></a> </li>   
                <li><a href="../DashboardTrade/POSync1">PO Sync <img src="\Content\images\go.png" alt="" height='14' width='14' /></a> </li>  
                <li><a href="../DashboardTrade/SORSync1">SOR Sync <img src="\Content\images\go.png" alt="" height='14' width='14' /></a> </li>  
                <li><a href="../DashboardTrade/SOFulfillment1">SO Fulfillment <img src="\Content\images\back.png" alt="" height='14' width='14' /></a> </li>                  
                <li><a href="../DashboardTrade/IncompleteSOFulfillment">Incomplete SO Fulfillment <img src="\Content\images\back.png" alt="" height='14' width='14' /></a> </li>  
                 @*ANET-26 - Exception Report: Inbound & outbound Reports  *@
                <li class="active" ><a href="../DashboardTrade/SOInvoiceGenerate">SO Invoice Generate <img src="\Content\images\back.png" alt="" height='14' width='14' /></a> </li>   
                <li><a href="../DashboardTrade/SOInvoiceNotGenerate">SO Invoice Not Generate <img src="\Content\images\back.png" alt="" height='14' width='14' /></a> </li>     
                <li><a href="../DashboardTrade/POReceive1">PO Receive <img src="\Content\images\back.png" alt="" height='14' width='14' /></a> </li>    
                <li><a href="../DashboardTrade/SORReceive1">SOR Receive <img src="\Content\images\back.png" alt="" height='14' width='14' /></a> </li>    
            </ul>
            <div id="my-tab-content1" class="tab-content">
                <div class="tab-pane active table-responsive" id="tabScheduler"> 
                    @*<ul id="tabs2" class="nav nav-pills" data-tabs="tabs2">
                        <li class="active"><a href="../DashboardTrade/SOInvoiceGenerate">Filter by Date</a></li>
                    </ul>
                    <ul>
                    </ul>  *@
                    <br />
                    
                    @using (Html.BeginForm("SOInvoiceGenerate", "DashboardTRADE", FormMethod.Post))
                    {
                        <label>From</label>
                        <input class="datepicker" id="datepicker1" name="fromDate1" type="date" value="@Convert.ToDateTime(Session["FromDate"]).ToString("yyyy-MM-dd")" style="width:150px;"/>
                        <label>To</label>
                        <input class="datepicker" id="datepicker2" name="toDate1" type="date" value="@Convert.ToDateTime(Session["ToDate"]).ToString("yyyy-MM-dd")" style="width:150px;"/>
                        <button type="submit" class="btn btn-primary">Filter</button>
                    }
                    <br />
                    <label>Total Rows : @Model.Item1.soSync.Count()</label>
                    <br />
                    <table id="myTable" class="table table-bordered table-condensed">
                        <thead>
                            <tr style="background-color: #FF8336;">
                                <th>Row Number</th>
                                <th>Scan date</th>
                                <th>SO Number</th>
                                <th>Dropship SO Number</th>
                                <th>Customer</th>
                                <th>Addressee</th>
                                <th>Country</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Item1.soSync.Count(); i++)
                            {
                                int j = i + 1;
                                <tr style="background-color: #FCDAB6;">
                                    <td>@j</td>
                                    <td>@Model.Item1.soSync[i].rangeTo</td>
                                    <td>@Model.Item1.soSync[i].moNo</td>
                                    <td>@Model.Item1.soSync[i].dropshipMono</td>
                                    <td>@Model.Item1.soSync[i].customer</td>
                                    <td>@Model.Item1.soSync[i].addressee</td>
                                    <td>@Model.Item1.soSync[i].country</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs1').tab();
        $('#tabs2').tab();
    });
</script>
<script type="text/javascript" src="../../Scripts/bootstrap/bootstrap.min.js"></script> 

<script>
    $(document).ready(function () {
        $('#myTable').dataTable();
    });
</script>
<link rel="stylesheet" href="../../Scripts/bootstrap/jquery.dataTables.min.css">
<script type="text/javascript" src="../../Scripts/bootstrap/jquery.dataTables.min.js"></script>