@model Tuple<sde.Models.RequestMQList>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span11">
    <div class="leaderboard" style="padding-left: 10px; padding-right: 10px;">
        <h1>Dashboard</h1>
        <div class="content">
            <ul id="tabs1" class="nav nav-tabs" data-tabs="tabs1">
                <li><a href="../DashboardCPAS/Index">Scheduler</a></li>
                <li><a href="../DashboardCPAS/SDEStatus">NetSuite</a></li>
                <li class="active"><a href="../DashboardCPAS/MQStatus">MSMQ</a></li>
                <li><a href="../DashboardCPAS/TasksStatus">NetSuite Tasks</a></li>
                <li><a href="../DashboardCPAS/Logger">Logger</a></li>
                <li><a href="../DashboardCPAS/Adjustment">Adjustment</a> </li>
            </ul>
            <div id="my-tab-content1" class="tab-content">
                <div class="tab-pane active table-responsive" id="tabMsgQueue">
                    @using (Html.BeginForm("MQStatus", "Dashboard", FormMethod.Post))
                    {
                        <label>From</label>
                        <input class="datepicker" id="datepicker1" name="fromDate1" type="date" value="@Convert.ToDateTime(Session["FromDate"]).ToString("yyyy-MM-dd")" style="width:150px;" />
                        <label>To</label>
                        <input class="datepicker" id="datepicker2" name="toDate1" type="date" value="@Convert.ToDateTime(Session["ToDate"]).ToString("yyyy-MM-dd")" style="width:150px;"/>
                        <button type="submit" class="btn btn-primary">Filter</button>
                    }
                    <ul id="tabs3" class="nav nav-pills" data-tabs="tabs2">
                        <li class="active"><a href="#tabStart2" data-toggle="tab">Stand By/Start</a></li>
                        @*<li><a href="#tabFinished2" data-toggle="tab">Finished</a></li>*@
                        <li><a href="#tabUploaded2" data-toggle="tab">Uploaded</a></li>
                    </ul>                    
                    <div id="my-tab-content3" class="tab-content">
                        <div class="tab-pane active table-responsive" id="tabStart2">
                            <table class="table table-bordered table-condensed">
                                <tr style="background-color: #FF8336;">
                                    <th>Type</th>
                                    <th>Job ID</th>
                                    <th>Range From</th>
                                    <th>Range To</th>
                                    <th>Status</th>
                                </tr>
                                @for (int i = 0; i < Model.Item1.requestmq.Count(); i++)
                                {
                                    if (Model.Item1.requestmq[i].status.Equals("STAND BY") || Model.Item1.requestmq[i].status.Equals("START"))
                                    {
                                        if (Model.Item1.requestmq[i].transactionType.StartsWith("MQPUSH-"))
                                        {
                                            <tr style="background-color: #FCDAB6;">
                                                <td>@Model.Item1.requestmq[i].transactionType</td>
                                                <td>@Model.Item1.requestmq[i].jobID</td>
                                                <td>@Model.Item1.requestmq[i].rangeFrom</td>
                                                <td>@Model.Item1.requestmq[i].rangeTo</td>
                                                <td>@Model.Item1.requestmq[i].status</td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr style="background-color: #FCDAB6;">
                                                <td>@Model.Item1.requestmq[i].transactionType</td>
                                                <td>@Model.Item1.requestmq[i].jobID</td>
                                                <td>@Model.Item1.requestmq[i].rangeFrom</td>
                                                <td>@Model.Item1.requestmq[i].rangeTo</td>
                                                <td>@Model.Item1.requestmq[i].status</td>
                                            </tr>
                                        }
                                    }
                                }
                            </table>
                        </div>
                        @*<div class="tab-pane table-responsive" id="tabFinished2">
                            <table class="table table-bordered table-condensed">
                                <tr style="background-color: #FF8336;">
                                    <th>Type</th>
                                    <th>Job ID</th>
                                    <th>Range From</th>
                                    <th>Range To</th>
                                    <th>Status</th>
                                </tr>
                                @for (int i = 0; i < Model.Item1.requestmq.Count(); i++)
                                {
                                    if (Model.Item1.requestmq[i].status.Equals("FINISHED"))
                                    {
                                        if (Model.Item1.requestmq[i].transactionType.StartsWith("MQPUSH-"))
                                        {
                                    <tr style="background-color: #FCDAB6;">
                                        <td>@Model.Item1.requestmq[i].transactionType</td>
                                        <td>@Model.Item1.requestmq[i].jobID</td>
                                        <td>@Model.Item1.requestmq[i].rangeFrom</td>
                                        <td>@Model.Item1.requestmq[i].rangeTo</td>
                                        <td>@Model.Item1.requestmq[i].status</td>
                                    </tr>
                                        }
                                        else
                                        {
                                    <tr style="background-color: #FAE7D2;">
                                        <td>@Model.Item1.requestmq[i].transactionType</td>
                                        <td>@Model.Item1.requestmq[i].jobID</td>
                                        <td>@Model.Item1.requestmq[i].rangeFrom</td>
                                        <td>@Model.Item1.requestmq[i].rangeTo</td>
                                        <td>@Model.Item1.requestmq[i].status</td>
                                    </tr>
                                        }
                                    }
                                }
                            </table>
                        </div>*@
                        <div class="tab-pane table-responsive" id="tabUploaded2">
                            <table class="table table-bordered table-condensed">
                                <tr style="background-color: #FF8336;">
                                    <th>Type</th>
                                    <th>Job ID</th>
                                    <th>Range From</th>
                                    <th>Range To</th>
                                    <th>Status</th>
                                </tr>
                                @for (int i = 0; i < Model.Item1.requestmq.Count(); i++)
                                {
                                    if (Model.Item1.requestmq[i].status.Equals("UPLOADED"))
                                    {
                                        if (Model.Item1.requestmq[i].transactionType.StartsWith("MQPUSH-"))
                                        {
                                    <tr style="background-color: #FCDAB6;">
                                        <td>@Model.Item1.requestmq[i].transactionType</td>
                                        <td>@Model.Item1.requestmq[i].jobID</td>
                                        <td>@Model.Item1.requestmq[i].rangeFrom</td>
                                        <td>@Model.Item1.requestmq[i].rangeTo</td>
                                        <td>@Model.Item1.requestmq[i].status</td>
                                    </tr>
                                        }
                                        else
                                        {
                                    <tr style="background-color: #FCDAB6;">
                                        <td>@Model.Item1.requestmq[i].transactionType</td>
                                        <td>@Model.Item1.requestmq[i].jobID</td>
                                        <td>@Model.Item1.requestmq[i].rangeFrom</td>
                                        <td>@Model.Item1.requestmq[i].rangeTo</td>
                                        <td>@Model.Item1.requestmq[i].status</td>
                                    </tr>
                                        }
                                    }
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs1').tab();
        $('#tabs2').tab();
    });
</script>
<script type="text/javascript" src="../../Scripts/bootstrap/bootstrap.min.js"></script>