@model Tuple<sde.Models.RequestErrorList>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span11">
    <div class="leaderboard" style="padding-left: 10px; padding-right: 10px;">
        <h1>Dashboard</h1>
        <div class="content">
            <ul id="tabs1" class="nav nav-tabs" data-tabs="tabs1">
                <li><a href="../DashboardCPAS/Index">Scheduler</a></li>
                <li><a href="../DashboardCPAS/SDEStatus">NetSuite</a></li>
                <li><a href="../DashboardCPAS/MQStatus">MSMQ</a></li>
                <li class="active"><a href="../DashboardCPAS/TasksStatus">NetSuite Tasks</a></li>
                <li><a href="../DashboardCPAS/Logger">Logger</a></li>
                <li><a href="../DashboardCPAS/Adjustment">Adjustment</a> </li>
            </ul>
            <div id="my-tab-content1" class="tab-content">
                <div class="tab-pane active table-responsive" id="tabMsgQueue">
                    @using (Html.BeginForm("TasksStatus", "Dashboard", FormMethod.Post))
                    {
                        <label>From</label>
                        <input class="datepicker" id="datepicker1" name="fromDate1" type="date" value="@Convert.ToDateTime(Session["FromDate"]).ToString("yyyy-MM-dd")" style="width:150px;" />
                        <label>To</label>
                        <input class="datepicker" id="datepicker2" name="toDate1" type="date" value="@Convert.ToDateTime(Session["ToDate"]).ToString("yyyy-MM-dd")" style="width:150px;"/>
                        <button type="submit" class="btn btn-primary">Filter</button>
                    }

                    <ul id="tabs3" class="nav nav-pills" data-tabs="tabs2">
                        <li class="active"><a href="#tabStart2" data-toggle="tab">Pending Jobs</a></li>
                        <li><a href="#tabUploaded2" data-toggle="tab">Completed Jobs</a></li>
                    </ul>     
                                   
                    <div id="my-tab-content3" class="tab-content">
                        <div class="tab-pane active table-responsive" id="tabStart2">
                            <table class="table table-bordered table-condensed">
                                <tr style="background-color: #FF8336;">
                                    <th>Rerun</th>
                                    <th>Task ID</th>
                                    <th>Job ID</th>
                                    <th>Task Description</th>
                                    <th>Created Date</th>
                                    <th>Status</th>
                                    <th>Error Description</th>
                                </tr>
                                @for (int i = 0; i < Model.Item1.error.Count(); i++)
                                {
                                    var tmpID = @Model.Item1.error[i].taskID + ";" + @Model.Item1.error[i].refNO + ";" + @Model.Item1.error[i].taskDescription;
                                    
                                    if (Model.Item1.error[i].status.Equals("START"))
                                    {
                                        <tr style="background-color: #FCDAB6;">
                                            <td><input type="checkbox" value="@tmpID" disabled></td>
                                            <td>@Model.Item1.error[i].taskID</td>
                                            <td style="word-break:break-all;">@Model.Item1.error[i].jobID</td>
                                            <td>@Model.Item1.error[i].taskDescription</td>
                                            <td>@Model.Item1.error[i].createdDate</td>
                                            <td>@Model.Item1.error[i].status</td>
                                            <td>@Model.Item1.error[i].errorDescription</td>
                                         </tr>                                                                          
                                    }
                                }
                            </table>
                        </div>

                        <div class="tab-pane table-responsive" id="tabUploaded2">
                            <table class="table table-bordered table-condensed">
                                <tr style="background-color: #FF8336;">
                                    <th>Rerun</th>
                                    <th>Task ID</th>
                                    <th>Job ID</th>
                                    <th>Task Description</th>
                                    <th>Created Date</th>
                                    <th>Status</th>
                                    <th>Error Description</th>
                                </tr>
                                @for (int i = 0; i < Model.Item1.error.Count(); i++)
                                {
                                    var tmpID = @Model.Item1.error[i].taskID + ";" + @Model.Item1.error[i].refNO + ";" + @Model.Item1.error[i].taskDescription;
                                    
                                    if (Model.Item1.error[i].status.Equals("FALSE"))
                                    {
                                        <tr style="background-color: #FCDAB6;">
                                            <td><input type="checkbox" value="@tmpID" disabled></td>
                                            <td>@Model.Item1.error[i].taskID</td>
                                            <td style="word-break:break-all;">@Model.Item1.error[i].jobID</td>
                                            <td>@Model.Item1.error[i].taskDescription</td>
                                            <td>@Model.Item1.error[i].createdDate</td>
                                            <td>@Model.Item1.error[i].status</td>
                                            <td>@Model.Item1.error[i].errorDescription</td>
                                         </tr>                                                                          
                                    }
                                    
                                    if (Model.Item1.error[i].status.Equals("TRUE"))
                                    {
                                        <tr style="background-color: #FCDAB6;">
                                            <td><input type="checkbox" value="@tmpID" disabled></td>
                                            <td>@Model.Item1.error[i].taskID</td>
                                            <td style="word-break:break-all;">@Model.Item1.error[i].jobID</td>
                                            <td>@Model.Item1.error[i].taskDescription</td>
                                            <td>@Model.Item1.error[i].createdDate</td>
                                            <td>@Model.Item1.error[i].status</td>
                                            <td>@Model.Item1.error[i].errorDescription</td>
                                         </tr>                                                                          
                                    }
                                }                           
                            </table>
                        </div>

                        <div style="text-align:left;">
                             <input type="button" id="rerunBtn" style="position:relative;"  class="btn btn-primary" value="Rerun"/>
                        </div>

                        <div id="loaderDiv" style="position: absolute; top: 0%; left: 0%; width: 100%; height: 100%; visibility: hidden; filter: alpha(opacity=70); background-color: gray; z-index: 10000; opacity: 0.8;">
                        <div style="position:absolute; text-align:center;vertical-align:middle;top:50%;width:100%; height:100%;"><img src="../../Content/images/ajax-loader.gif" /></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#rerunBtn').on('click', function () {
            var task = [];

            $('input:checked').each(function () {
                task.push($(this).attr("value"));
            });

            if (task.length == 0) {
                alert("No task has been chosen");
            }
            else
            {
                loaderDiv();
                $.ajax({
                    url: "/DashboardCPAS/ErrorRerun",
                    type: "POST",
                    data: { rerunList: task },
                    dataType: "json",
                    traditional: true,
                    success: function () {
                        alert("Rerun completed");
                        window.location = 'TasksStatus';
                    }
                });
            }
        });
    });

    function loaderDiv() {
        document.getElementById('loaderDiv').style.visibility = 'visible';
        return true;
    }
</script>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs1').tab();
        $('#tabs2').tab();
    });
</script>
<script type="text/javascript" src="../../Scripts/bootstrap/bootstrap.min.js"></script>