@model Tuple<sde.Models.SchedulerList>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function loaderDiv() {
        document.getElementById('loaderDiv').style.visibility = 'visible';
        return true;
    }
</script>

<div class="span11">
    <div class="leaderboard" style="padding-left: 10px; padding-right: 10px;">
        <h1>SETUP</h1>
        <div class="content">
            <ul id="tabs1" class="nav nav-tabs" data-tabs="tabs1">
                <li class="active"><a href="AdhocScheduler">Scheduler</a></li>
                <li><a href="AdhocExecuteWS">Execute WCF</a></li>
               
                @*<li><a href="../DashboardRIT/MQStatus">Message Queue Status</a></li>*@
            </ul>
            <div id="my-tab-content1" class="tab-content">
                <div class="tab-pane active table-responsive" id="tabScheduler">
                    <table class="table table-bordered table-condensed">
                        <tr style="background-color: #FF8336;">
                            <th>Type</th>
                            <th>Minute Gap</th>
                            <th>Next Run Time</th>
                            <th>Next Run No.</th>
                            <th>Last Run Time</th>
                            <th>Last Run No.</th>
                            <th></th>
                        </tr>
                        @for (int i = 0; i < Model.Item1.scheduler.Count(); i++)
                        {
                            if (@Model.Item1.scheduler[i].transactionType.StartsWith("NS-"))
                            {
                            <tr style="background-color: #FCDAB6;">
                                <td>@Model.Item1.scheduler[i].transactionType</td>
                                <td>@Model.Item1.scheduler[i].minuteGap</td>
                                <td>@Model.Item1.scheduler[i].nextRun</td>
                                <td>@Model.Item1.scheduler[i].nextRunSeqNo</td>
                                <td>@Model.Item1.scheduler[i].lastRun</td>
                                <td>@Model.Item1.scheduler[i].lastRunSeqNo</td>
                                <td>@Html.ActionLink("Edit", "EditScheduler", new { scheId=Model.Item1.scheduler[i].id, scheType=Model.Item1.scheduler[i].transactionType, tranType="AdhocScheduler" })</td>
                            </tr>
                            }
                            else if (@Model.Item1.scheduler[i].transactionType.StartsWith("SSA-"))
                            {
                            <tr style="background-color: #FCDAB6;">@*FAE7D2*@
                                <td>@Model.Item1.scheduler[i].transactionType</td>
                                <td>@Model.Item1.scheduler[i].minuteGap</td>
                                <td>@Model.Item1.scheduler[i].nextRun</td>
                                <td>@Model.Item1.scheduler[i].nextRunSeqNo</td>
                                <td>@Model.Item1.scheduler[i].lastRun</td>
                                <td>@Model.Item1.scheduler[i].lastRunSeqNo</td>
                                <td>@Html.ActionLink("Edit", "EditScheduler", new { scheId=Model.Item1.scheduler[i].id, scheType=Model.Item1.scheduler[i].transactionType, tranType="AdhocScheduler" })</td>
                            </tr>
                            }
                            else if (@Model.Item1.scheduler[i].transactionType.StartsWith("CPAS-"))
                            {
                            <tr style="background-color: #FCDAB6;">
                                <td>@Model.Item1.scheduler[i].transactionType</td>
                                <td>@Model.Item1.scheduler[i].minuteGap</td>
                                <td>@Model.Item1.scheduler[i].nextRun</td>
                                <td>@Model.Item1.scheduler[i].nextRunSeqNo</td>
                                <td>@Model.Item1.scheduler[i].lastRun</td>
                                <td>@Model.Item1.scheduler[i].lastRunSeqNo</td>
                                <td>@Html.ActionLink("Edit", "EditScheduler", new { scheId=Model.Item1.scheduler[i].id, scheType=Model.Item1.scheduler[i].transactionType, tranType="AdhocScheduler" })</td>
                            </tr>
                            }
                            else if (@Model.Item1.scheduler[i].transactionType.StartsWith("MQPUSH-"))
                            {
                            <tr style="background-color: #FCDAB6;">
                                <td>@Model.Item1.scheduler[i].transactionType</td>
                                <td>@Model.Item1.scheduler[i].minuteGap</td>
                                <td>@Model.Item1.scheduler[i].nextRun</td>
                                <td>@Model.Item1.scheduler[i].nextRunSeqNo</td>
                                <td>@Model.Item1.scheduler[i].lastRun</td>
                                <td>@Model.Item1.scheduler[i].lastRunSeqNo</td>
                                <td>@Html.ActionLink("Edit", "EditScheduler", new { scheId=Model.Item1.scheduler[i].id, scheType=Model.Item1.scheduler[i].transactionType, tranType="AdhocScheduler" })</td>
                            </tr>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="loaderDiv" style="position: absolute; top: 0%; left: 0%; width: 100%; height: 100%; visibility: hidden; filter: alpha(opacity=70); background-color: gray; z-index: 10000; opacity: 0.8;">
   <div style="position:absolute; text-align:center;vertical-align:middle;top:50%;width:100%; height:100%;"><img src="../../Content/images/ajax-loader.gif" /></div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs1').tab();
        $('#tabs2').tab();
    });
</script>
<script type="text/javascript" src="../../Scripts/bootstrap/bootstrap.min.js"></script>
