@model Tuple<sde.Models.BcOrderFulfillmentList>
@{
    ViewBag.Title = "SO Fulfillment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span11">
    <div class="leaderboard" style="padding-left: 10px; padding-right: 10px;">
        <h1>BCAS Dashboard</h1>
        <div class="content">
            <ul id="tabs1" class="nav nav-tabs" data-tabs="tabs1">
                <li class="active"><a href="../DashboardBCAS/SOFulfillmentMY">Sales Orders</a></li>
                <li><a href="../DashboardBCAS/IncompleteSOFulfillment">Unfulfill ISBN</a></li>
            </ul>

            <div id="my-tab-content1" class="tab-content">
                <div class="tab-pane active table-responsive" id="tabScheduler">
                    <ul id="tabs2" class="nav nav-pills" data-tabs="tabs2">
                        <li class="active"><a href="../DashboardBCAS/SOFulfillmentMY">MY</a></li>
                        <li><a href="../DashboardBCAS/SOFulfillmentSG">SG</a></li>
                        <li><a href="../DashboardBCAS/SOFulfillmentID">ID</a></li>
                    </ul>
                    <ul>
                    </ul>
                    @using (Html.BeginForm("SOFulfillmentMY", "DashboardBCAS", FormMethod.Post))
                    {
                        <label>From</label>
                        <input class="datepicker" id="datepicker1" name="fromDate1" type="date" value="@Convert.ToDateTime(Session["fromDate"]).ToString("yyyy-MM-dd")" style="width:150px;"/>
                        <label>Date</label>
                        <input class="datepicker" id="datepicker2" name="toDate1" type="date" value="@Convert.ToDateTime(Session["ToDate"]).ToString("yyyy-MM-dd")" style="width:150px;"/>
                        <button type="submit" class="btn btn-primary">Filter</button>
                    }
                    <br />
                    <table id="myTable" class="table table-bordered table-condensed">
                        <thead>
                            <tr style="background-color: #FF8336;">
                                <th>Pack</th>
                                <th>Sales Type</th>
                                <th>Amount</th>
                                <th>Gst Amount</th>
                                <th>Shipping Amount</th>
                                <th>Pack Ordered</th>
                                <th>Pack Fulfilled</th>
                                <th>ISBN Fulfilled</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Item1.BcOrderFulfillment.Count(); i++)
                            {
                                <tr style="background-color: #FCDAB6;">
                                    <td>@Model.Item1.BcOrderFulfillment[i].ordPack</td>
                                    <td>@Model.Item1.BcOrderFulfillment[i].ordType</td>
                                    <td>@Model.Item1.BcOrderFulfillment[i].ordPrice</td>
                                    <td>@Model.Item1.BcOrderFulfillment[i].ordGst</td>
                                    <td>@Model.Item1.BcOrderFulfillment[i].ordShipping</td>
                                    <td>@Model.Item1.BcOrderFulfillment[i].ordQty</td>
                                    <td>@Model.Item1.BcOrderFulfillment[i].ordFulfill</td>
                                    <td>@Model.Item1.BcOrderFulfillment[i].ordFulfillnSku</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs1').tab();
        $('#tabs2').tab();
    });
</script>
<script type="text/javascript" src="../../Scripts/bootstrap/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        $('#myTable').dataTable();
    });
</script>
<link rel="stylesheet" href="../../Scripts/bootstrap/jquery.dataTables.min.css">
<script type="text/javascript" src="../../Scripts/bootstrap/jquery.dataTables.min.js"></script>