@model Tuple<sde.Models.SchedulerList>
@{
    ViewBag.Title = "Scheduler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span11">
    <div class="leaderboard" style="padding-left: 10px; padding-right: 10px;">
        <h1>RIT</h1>
        <div class="content">
            <ul id="tabs1" class="nav nav-tabs" data-tabs="tabs1">
                <li><a href="../DashboardRIT/TasksStatus">NetSuite Tasks</a></li>
                <li><a href="../DashboardRIT/MQStatus">MSMQ</a></li>
                <li><a href="../DashboardRIT/SDEStatus">NetSuite</a></li>
                <li><a href="../DashboardRIT/Logger">Logger</a></li>
                <li class="active"><a href="../DashboardRIT/Index">Scheduler</a></li>
                <li><a href="../DashboardRIT/DataSyncBack">Data Sync Back</a></li>
                <li><a href="../DashboardRIT/DummySO">Dummy SO</a></li>
                         
            </ul>
            <div id="my-tab-content1" class="tab-content">
                <div class="tab-pane active table-responsive" id="tabScheduler">
                    <table class="table table-bordered table-condensed">
                        <tr style="background-color: #FF8336;">
                            <th>Type</th>
                            <th>Minute Gap</th>
                            <th>Next Run Time</th>
                            <th>Last Run Time</th>
                        </tr>
                        @for (int i = 0; i < Model.Item1.scheduler.Count(); i++)
                        {
                            if (Model.Item1.scheduler[i].transactionType.StartsWith("NS-"))
                            {
                            <tr style="background-color: #FCDAB6;">
                                <td>@Model.Item1.scheduler[i].transactionType</td>
                                <td>@Model.Item1.scheduler[i].minuteGap</td>
                                <td>@Model.Item1.scheduler[i].nextRun</td>
                                <td>@Model.Item1.scheduler[i].lastRun</td>
                            </tr>
                            }
                            else if (Model.Item1.scheduler[i].transactionType.StartsWith("SSA-"))
                            {
                            <tr style="background-color: #FCDAB6;">
                                <td>@Model.Item1.scheduler[i].transactionType</td>
                                <td>@Model.Item1.scheduler[i].minuteGap</td>
                                <td>@Model.Item1.scheduler[i].nextRun</td>
                                <td>@Model.Item1.scheduler[i].lastRun</td>
                            </tr>
                            }
                            else if (Model.Item1.scheduler[i].transactionType.StartsWith("CONF-"))
                            {
                            <tr style="background-color: #FCDAB6;">
                                <td>@Model.Item1.scheduler[i].transactionType</td>
                                <td>@Model.Item1.scheduler[i].minuteGap</td>
                                <td>@Model.Item1.scheduler[i].nextRun</td>
                                <td>@Model.Item1.scheduler[i].lastRun</td>
                            </tr>
                            }
                            else if (Model.Item1.scheduler[i].transactionType.StartsWith("CPAS-"))
                            {
                            <tr style="background-color: #FCDAB6;">
                                <td>@Model.Item1.scheduler[i].transactionType</td>
                                <td>@Model.Item1.scheduler[i].minuteGap</td>
                                <td>@Model.Item1.scheduler[i].nextRun</td>
                                <td>@Model.Item1.scheduler[i].lastRun</td>
                            </tr>
                            }
                            else if (Model.Item1.scheduler[i].transactionType.StartsWith("BCAS-"))
                            {
                            <tr style="background-color: #FCDAB6;">
                                <td>@Model.Item1.scheduler[i].transactionType</td>
                                <td>@Model.Item1.scheduler[i].minuteGap</td>
                                <td>@Model.Item1.scheduler[i].nextRun</td>
                                <td>@Model.Item1.scheduler[i].lastRun</td>
                            </tr>
                            }
                            else if (Model.Item1.scheduler[i].transactionType.StartsWith("MQPUSH-"))
                            {
                            <tr style="background-color: #FCDAB6;">
                                <td>@Model.Item1.scheduler[i].transactionType</td>
                                <td>@Model.Item1.scheduler[i].minuteGap</td>
                                <td>@Model.Item1.scheduler[i].nextRun</td>
                                <td>@Model.Item1.scheduler[i].lastRun</td>
                            </tr>
                            }
                            else if (Model.Item1.scheduler[i].transactionType.StartsWith("UPD-"))
                            {
                            <tr style="background-color: #FCDAB6;">
                                <td>@Model.Item1.scheduler[i].transactionType</td>
                                <td>@Model.Item1.scheduler[i].minuteGap</td>
                                <td>@Model.Item1.scheduler[i].nextRun</td>
                                <td>@Model.Item1.scheduler[i].lastRun</td>
                            </tr>
                            }                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs1').tab();
        $('#tabs2').tab();
    });
</script>
<script type="text/javascript" src="../../Scripts/bootstrap.min.js"></script>
